{% extends 'people/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'people/css/index.css' %}">

<table class="table container">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">City</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for people in  people %}
    <tr>
      <th scope="row">{{people.id}}</th>
      <th>{{people.name}}</th>
      <th>{{people.email}}</th>
      <th>{{people.city}}</th>
      <th>
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal{{people.id}}">
            View
          </button>
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% for people in people %}
<!-- Modal -->
<div class="modal fade" id="exampleModal{{people.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Name: {{people.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Email: {{people.email}}</p>
        <p>City: {{people.city}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="user/{{people.id}}/update">
          <button type="button" class="btn btn-primary">Edit</button>
        </a>
        <a href="user/{{people.id}}/delete/">
          <button type="button" class="btn btn-danger">Delete</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}